
* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: none;
    margin: 0;
}

li {
    font-size: 0.5em;
    margin-left: 0;
}

.AddButton{
    background-color: #fff;
    border: none;

}